<section class="sample-text-area" id="code">
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                <h2 class="section-title">Code of Conduct</h2>
            </div>
            <div class="card-body">
                <div class="text-justify text-black">
                    The open exchange of ideas and the freedom of thought and expression are central to CBSoft’s aims
                    and goals. These require an environment that recognizes the inherent worth of every person and
                    group, that fosters dignity, understanding, and mutual respect, and that embraces diversity. For
                    these reasons, CBSoft is dedicated to providing a harassment-free experience for participants at
                    our events, in our programs, and in official communications channels for these events and programs,
                    including social media. <br>Harassment is unwelcome or hostile behavior, including speech that
                    intimidates, creates discomfort, or interferes with a person’s participation or opportunity for
                    participation, in a conference, event or program. Harassment in any form, including but not limited
                    to harassment based on alienage or citizenship, age, color, creed, disability, marital status,
                    military status, national origin, pregnancy, childbirth—and pregnancy-related medical conditions,
                    race, religion, sex, gender, veteran status, sexual orientation or any other status protected by
                    laws in which the conference or program is being held, will not be tolerated. Harassment includes
                    the use of abusive or degrading language, intimidation, stalking, harassing photography or
                    recording, inappropriate physical contact, sexual imagery and unwelcome sexual attention. A
                    response that the participant was “just joking,” or “teasing,” or being “playful,” will not be
                    accepted. Anyone witnessing or subject to unacceptable behavior should notify a conference
                    committee member. <br>Individuals violating these standards may be sanctioned or excluded from
                    further participation at the discretion of the organizers or responsible committee. <br><br>
                    <i class="pull-right">
                        (Adapted from <a href="https://womencourage.acm.org/2017/02/02/code-of-conduct/" target="_blank">
                            ACM womENcourage 2017</a>)
                    </i>
                </div>
            </div>
        </div>
    </div>
</section>