<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <font style="color: red; font-weight: bold;">X</font> CBSOFT
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="index.html">Home</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="cbsoft_committe.html">Organization</a>
                    <a class="dropdown-item" href="cbsoft_registration.html">Registration</a>
                    <a class="dropdown-item" href="#">Conference Program</a>
                    <a class="dropdown-item" href="#">Conference Proceedings</a>
                    <a class="dropdown-item" href="#">Industry Track</a>
                    <a class="dropdown-item" href="#">Tutorials</a>
                    <a class="dropdown-item" href="#">Short courses</a>
                    <a class="dropdown-item" href="#">Workshops</a>
                    <a class="dropdown-item" href="#">Tools Session</a>
                    <a class="dropdown-item" href="#">WTDSoft</a>
                    <a class="dropdown-item" href="#">Previous Editions</a>
                    <a class="dropdown-item" href="#">Promotion, organization, and support</a>
                    <a class="dropdown-item" href="#">Code of Conduct</a>
                    <a class="dropdown-item" href="#">Contacts</a>
                    
                    
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <font style="color: red; font-weight: bold;">XXXIII</font> SBES
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="sbes.html">Home SBES</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Research Track</a>
                    <a class="dropdown-item" href="#">Insightful Ideas & Emerging Results Track</a>
                    <a class="dropdown-item" href="#">Education Track</a>
                    <a class="dropdown-item" href="#">Keynotes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <font style="color: red; font-weight: bold;">XXIII</font> SBLP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="sblp.html">Home SBLP</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Call for Papers</a>
                    <a class="dropdown-item" href="#">SBLP - Program Committee</a>
                    <a class="dropdown-item" href="#">Invited Speakers</a>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <font style="color: red; font-weight: bold;">XIII</font> SBCARS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="sbcars.html">Home SBCARS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Best Paper Award and Special Issue</a>
                    <a class="dropdown-item" href="#">Call for Papers</a>
                    <a class="dropdown-item" href="#">Keynote Speakers</a>
                    <a class="dropdown-item" href="#">Schedule</a>
                    <a class="dropdown-item" href="#">Organization</a>
                    <a class="dropdown-item" href="#">SBCARS - Program Committee</a>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <font style="color: red; font-weight: bold;">IV</font> SAST
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="sast.html">Home SAST</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Call for Papers</a>
                    <a class="dropdown-item" href="#">Keynote Speakers</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Workshops
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <!-- <a class="dropdown-item" href="https://vem2018.github.io" target="_blank">Workshop on Software
                        Visualization, Evolution and Maintenance</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://wesb2018.dainf.ct.utfpr.edu.br/index-en.html" target="_blank">Workshop
                        on Search-based Software Engineering</a> -->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="venue_location.html">
                    Venue & Location
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="conference_banquet.html">Conference Banquet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="downloads.html">Downloads</a>
            </li>
        </ul>
    </div>
</nav>