<section class="m-b--10p" id="promotion" style="text-align: center;">
    <hr>
    <div class="container">

        <div class="card text-center">
            <div class="card-header">
                <h3 class="section-title">Organization</h3>
            </div>
            <div class="card-body">
                <div class="justify-content-around" style="height: 120px;">
                    <a href="https://ufba.br/" target="_blank">
                        <img style="height: 100%; width: auto;" src="assets/images/organization/logo_ufba.png">
                    </a>
                    &ensp;&ensp;&ensp;
                    <a href="http://ime.ufba.br/" target="_blank">
                        <img style="height: 100%;  width: auto;" src="assets/images/organization/ime_brasao.png">
                    </a>
                    &ensp;&ensp;&ensp;
                    <a href="http://wiki.dcc.ufba.br/DCC/" target="_blank">
                        <img style="height: 100%; width: auto;" src="assets/images/organization/logo_comp.png">
                    </a>
                </div>
            </div>
        </div>
        <br />
        <div class="card text-center">
            <div class="card-header">
                <h3 class="section-title">Promotion</h3>
            </div>
            <div class="card-body">
                <div class="text-black d-flex justify-content-around" style="height: 120px;">
                    <a href="http://www.sbc.org.br/" target="_blank">
                        <img style="height: 100%; width: auto;" src="assets/images/organization/logo-sbc2.png">
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="card-header">
                <h3 class="section-title">Support</h3>
            </div>
            <div class="card-body">
                <div class="text-justify text-black">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/logo-capes.png">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/Faber-Castell-logo.png">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/prefeituraSaoCarlos.png">
                </div>
            </div> -->
        <!-- <div class="card-header">
                <h3 class="section-title">Sponsor</h3>
            </div>
            <div class="card-body">
                <div class="text-justify text-black">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/google-logo.png"
                        alt="Google">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/B2Wlogo.png"
                        alt="B2W">
                    <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/cemeAI.png"
                        alt="cemeAI">
                </div>
                <div class="card-body">
                    <div class="text-justify text-black">
                        <img style="width: 100%; max-width: 100px; height: auto;" src="assets/images/organization/logo-monitora.png"
                            alt="Monitora">
                    </div>
                </div>
            </div> -->
    </div>
    </div>
</section>